{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel Automation - File Upload</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Excel/css/vlookup.css' %}">
</head>
<body>
    <h1>Excel Automation - File Upload</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file-row">
            <div class="file-item">
                <label for="file1">File 1</label>
                <input type="file" name="file1" id="file1" accept=".xlsx,.xls">
            </div>
            <div class="file-item">
                <label for="file2">File 2</label>
                <input type="file" name="file2" id="file2" accept=".xlsx,.xls">
            </div>
            <div class="file-item">
                <label for="file3">File 3</label>
                <input type="file" name="file3" id="file3" accept=".xlsx,.xls">
            </div>
            <div class="file-item">
                <label for="file4">File 4</label>
                <input type="file" name="file4" id="file4" accept=".xlsx,.xls">
            </div>
            <div class="file-item">
                <label for="file5">File 5</label>
                <input type="file" name="file5" id="file5" accept=".xlsx,.xls">
            </div>
        </div>

        <input type="submit" value="Upload Files">

        <div class="uploaded-content">
            <h3>Uploaded Files</h3>
            <ul id="file-names"></ul>
        </div>
    </form>

    <script src="{% static 'Excel/js/vlookup.js' %}"></script>
</body>
</html>